<h1>Landing#index</h1>
<ul>
  <%= @articles.each do |article| %>
  <li>
    <%= article.title %><br />
    <%= article.content %><br />
    Written by <%= article.author %>
    binding.pry
    at <%= article.created_at %>
  </li>
  <% end %>
</ul>