<h1>Landing#index</h1>
<ul>
  <%= @articles.each do |article| %>
  <li>
    <%= article.title %><br />
    <%= article.content %><br />
    Written by <%= article.author %> at <%= article.created_at.strftime("%Y-%m-%d").to_s %>
  </li>
  <% end %>
</ul>
